<div class="contaner py-5">
  <div class="row">
    <h4 class="col-sm-5 my-5 mx-auto text-center">いいね一覧</h4>
  </div>

  <div class="row">
    <div class="col-sm-12 text-center">
      <% @bookmark_shops.each do |shop| %>
          <%= shop.name %>
      <% end %>
    </div>
  </div>
</div>