<div class="container py-3">
  <div class="row">
    <div class="col text-center my-4">
      <h4><strong>お問い合わせ履歴</strong></h4>
    </div>
  </div>

  <table class="table table-bordered">
    <thead class="thead-dark text-center">
      <tr>
        <th>件名</th>
        <th>日時</th>
      </tr>
    </thead>

    <tbody class="text-center">
      <% @contacts.each do |contact| %>
        <tr>
          <td><%= link_to contact.subject, contact_path(contact.id) %></td>
          <td><%= contact.created_at.strftime("%Y年%m月%d日 %H時%M分") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
 <%= paginate @contacts %>
</div>