<div class="container py-3">
  <div class="row">
     <h4 class="col-12 text-center mt-2 mb-5">ReVegeとは</h4>
       <div class="col-12 text-center">
          ReVege（リベジ）へようこそ。<br>
          ReVegeは通常は廃棄してしまうような新鮮な野菜や果物、<br>
          また、そんな食材をリメイクした商品を取り扱う販売サイトです。<br>
          農家さんの思いがこもった食材を無駄なく消費者のみなさんへとつなぎます。<br>
        </div>
      </div>
</div>