<div class="container">
  <div class="main-visual">
    <div class="main-visual-content">
      <%#= image_tag 'みかん2' %>
        <div class="visual-text">
          <p class="main-visual-text">新鮮でおいしい野菜や果物を</p>
          <p class="main-visual-text1">生産者から直接お届け</p>
        </div>
    </div>
  </div>
</div>