<div class="container py-3">
      <div class="row">
        <div class="col-4 text-right">

            <div class="main-visual">
              <div class="main-visual-content">
                <!-- pタグ（と文字）を追加 -->
                <p class="main-visual-text">
                  新鮮でおいしい野菜や果物を
                </p>
                <p class="main-visual-text1">
                  生産者から<p class="main-visual-text2">直接</p>お届け
                </p>
              </div>
            </div>
        </div>

        <div class="col-7 offset-1 mx-3">
           <%= image_tag 'みかん2', size:"800x500" %>
        </div>
      </div>
</div>