<div class="container ">
      <div class="row">
        <div class="col-4 text-right">
           <%= image_tag '農家と野菜', size:"800x500" %>
        </div>
        <div class="col-7 offset-1">
           <%= image_tag '農家と野菜', size:"800x500" %>
        </div>
      </div>
</div>