<div class="flash">
  <%= flash[:notice] %>
</div>

<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="main-visual-content text-center">
        <%= image_tag 'orange2.jpg' %>
        <div class="visual-text">
          <p class="main-visual-text">新鮮でおいしい野菜や果物を</p>
          <p class="main-visual-text1">生産者から直接お届け</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <h3 class="col-12 text-center pt-5 my-5", style="font-family: 'arial black'">Revegeとは</h3>
    <div class="col-md-6 mx-auto mt-2 mb-5", style="color: #666;">
      ReVege（リベジ）へようこそ。<br>
      ReVegeは通常は廃棄してしまうような新鮮な野菜や果物、<br>
      また、そんな食材たちをリメイクした商品を取り扱う販売サイトです。<br>
      <br>
      日本は世界的にみてフードロスが多い国と言われています。<br>
      そんな問題がある中、私たちには何ができるでしょうか。<br>
      自分にできる範囲で、小さなことから。<br>
      無駄なく食材を食べることが、誰かの未来のためになります。<br>
      Revegeでは、農家さんの思いがこもった食材を<br>
      無駄なく消費者のみなさんへとお届けします。<br>
    </div>
  </div>

  <div class="row">
    <div class="col-12 text-center mb-5">
      <h3 style="font-family: 'arial black'">Revegeでできること</h3>
    </div>
    <div class="col-12">
      <div class="row border-bottom pb-5 mb-5">
        <div class="col-12 col-lg-6 picture text-center">
          <%= image_tag 'vegetable.jpg', size:"300x230" %>
        </div>
        <div class="col-12 col-lg-6">
          <h5><strong>全国の農家さんから<br>果物や野菜のお取り寄せができる</strong></h5><br>
          <div style="color: #666">
            食べてみたかった地域ごとの特産物や旬の野菜。<br>
            このサイトを通して、自分が住んでいる地域以外の野菜や<br>果物をお取り寄せしてみてはいかがでしょうか。
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row border-bottom pb-5">
    <div class="col-12 col-lg-6 order-1 order-lg-2 text-center picture">
      <%= image_tag 'strawberry.jpg', size:"300x250" %>
    </div>
    <div class="col-12 col-lg-6 order-2 order-lg-1">
      <h5 class="text-center"><strong>食品ロスの削減</strong></h5><br>
      <div style="color: #666">
        色や形、大きさが規格に満たしていない野菜や果物のことを「規格外野菜」と呼びます。<br>
        規格外野菜は、市場に出回る前に廃棄処分されることが多く、<br>「隠れフードロス」とも言われています。<br>
        しかし実は規格外野菜の多くは見た目の問題であるため正規品と味自体は変わらないケースが大半です。<br>
        Revegeでは、そんな規格外野菜を積極的に扱っています。<br>
        食材をお取り寄せすることで食品ロスの削減に貢献することができます。
      </div>
    </div>
  </div>
</div>