<div class="container py-5">
    <div class="row">
      <div class="col-12 m-4 pb-2 text-center">
         <h4 class="font-weight-bold">ジャンル編集</h4>
      </div>
    </div>
    
    <div class="row py-1 pb-3 d-flex justify-content-center">
      <%= form_with model: @genre, url:admin_genre_path(@genre.id), method: :patch do |f| %>
        <div class="col">
          <table class="table text-center">
       　    <tbody>
            　   <tr>
             　    <td style="vertical-align: middle;" >ジャンル名</td>
                  <td style="vertical-align: middle;"><%= f.text_field :name %></td>
                  <td><%= f.submit '変更を保存', class: "btn btn-info" %></td>
                </tr>
            </tbody>
          </table>
        </div>
      <% end %>
    </div>
</div>

