@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  padding: 0 auto;
  margin: 0 auto;
}

.main-visual-content {
  font-family: serif;
  margin-top: 25px;
  position: relative;
  img {
    width: 100%;
    max-width: 800px;
  }
}

.visual-text {
  position: absolute;
  top: 150px;
  left: 80px;
  padding: 20px;
  background-color: rgba(255,255,255,0.5);
}

.main-visual-text{
  font-size: 30px;
}

.main-visual-text1{
  margin-bottom: 0;
  font-size: 40px;
}

.picture {
  img {
    border-radius: 20px;
  }
}

.flash {
  color: #ecc46c;
}

h2 {
  padding: 0.25em 0.5em;/*上下 左右の余白*/
  color: #494949;/*文字色*/
  background: transparent;/*背景透明に*/
  border-left: solid 5px #efe989;/*左線*/
}

h3 {
  padding: 0.25em 0.5em;/*上下 左右の余白*/
  color: #494949;/*文字色*/
  background: transparent;/*背景透明に*/
  border-left: solid 5px #efe989;/*左線*/
}

h4 {
  color: #494949;/*文字色*/
  position: relative;
  display: inline-block;
  padding: 0 55px;
}

h4:before, h4:after {
  content: '';
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 45px;
  height: 1px;
  background-color: #d5d5bc;
}

h4:before {
  left:0;
}
h4:after {
  right: 0;
}


@media screen and (max-width: 800px) {
  .visual-text {
    top: 100px;
    left: 0;
  }

  .main-visual-text{
    font-size: 20px;
  }

  .main-visual-text1{
    font-size: 30px;
  }
}