@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color:rgba(255,229,178,0.2);
  width: 100%;
  padding: 0 auto;
  margin: 0 auto;
}